@font-face {
  font-family: "Roboto", "Arial", sans-serif;
  src: url("../files/roboto-fonts/roboto-regular-webfont.woff2") format("woff2"),
    url("../files/roboto-fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto", "Arial", sans-serif;
  src: url("../files/roboto-fonts/roboto-bold_0-webfont.woff2") format("woff2"),
    url("../files/roboto-fonts/roboto-bold_0-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto", "Arial", sans-serif;
  src: url("../files/roboto-fonts/roboto-bolditalic-webfont.woff2")
      format("woff2"),
    url("../files/roboto-fonts/roboto-bolditalic-webfont.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Roboto", "Arial", sans-serif;
  src: url("../files/roboto-fonts/roboto-italic-webfont.woff2") format("woff2"),
    url("../files/roboto-fonts/roboto-italic-webfont.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin: 0;
  background-color: #fff;
  color: #000;
}

.container {
  max-width: 1252px;
  padding: 20px 20px;
  margin-left: auto;
  margin-right: auto;
}

/*header
=======================
*/

.header {
  background-color: #cfe5ef;
}

.header__content {
  display: flex;
  align-items: center;
  height: 150px;
}

.header__menu {
  display: flex;
  margin: 0 0 0 50px;
  padding: 0;
  list-style-type: none;
}

.header__enter {
  margin-left: auto;
  background-color: #fff;
  padding: 10px 15px;
}

.header__enter,
.header__link,
.header__sublink {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

.header__item {
  position: relative;
}

.header__item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background-color: #000;
}

.header__item:last-child::before {
  display: none;
}

.header__link {
  padding: 0 20px;
}

.header__submenu {
  position: absolute;
  background-color: #fff;
  top: calc(100%-1px);
  left: 0;
  white-space: nowrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
}

.header__item:hover .header__link {
  background-color: #fff;
}

.header__item:hover .header__submenu {
  display: block;
}

.header__sublink {
  padding: 5px 20px;
  display: inline-block;
}

.header__sublink:hover {
  color: #fff;
  background-color: black;
}

.header__enter:hover {
  color: #fff;
  background-color: black;
}

/* main content
======================================
*/

.bold-text {
  font-weight: bold;
}

.float-1-border,
.float-2-border,
.reviews-border {
  padding-bottom: 10px;
  border-bottom: 3px solid grey;
}

.decor {
  background-color: #e2e2e2;
  height: 50px;
  border: 2px solid #9f9f9f;
}

.module-grid-inner {
  margin-top: 50px;
}

/* 
---------------------------- 
Reviews 
*/

.review-photo-1 {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 34px;
}

.reviews-autor {
  margin-right: 20px;
}

.reviews-text {
  padding-left: 25px;
  padding-right: 10px;
  font-size: 24px;
}

.reviews-text-data {
  color: grey;
}

/* 
---------------------------- 
Gallery 
*/

.gallery {
  text-align: center;
  margin: 50px 500px;
  font-weight: bold;
  font-size: 24px;
  border-bottom: 4px solid grey;
}

.gallery-inner {
  height: 400px;
}
.img-in-gallery {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-in-gallery {
  margin-left: 20px;
}

.gallery-inner-border-of-image {
  border: 1px solid #e2e2e2;
  width: 260px;
  padding: 10px;
  position: relative;
}

.gallery-inner-border-of-image::before,
.gallery-inner-border-of-image::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #fff;
  position: absolute;
}

.gallery-inner-border-of-image::before {
  top: -10px;
  right: -10px;
}

.gallery-inner-border-of-image::after {
  bottom: -10px;
  left: -10px;
}

/* forms
============================
*/

.mt40px {
  margin-top: 40px;
}

.container__title {
  position: relative;
  font-size: 24px;
  font-weight: bold;
}

.container__title::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 5px;
  width: 200px;
  background-color: #c3c3c3;
}

/* form1
============================
*/

#form1__input {
  width: 280px;
  height: 40px;
  padding: 0 0 0 20px;
  border: 1px solid #a0a0a0;
}

#form1__input:focus {
  background-color: #e9f8ff;
  border: 1px solid #a0a0a0;
  color: #000;
  outline: none;
}

/* form2
============================
*/

#form2__input {
  width: 280px;
  height: 40px;
  padding: 0 0 0 50px;
  border: 1px solid #a0a0a0;
}

#form2__input:focus {
  background-color: #e9f8ff;
  border: 1px solid #a0a0a0;
  color: #000;
  outline: none;
}

.form-group2 {
  position: relative;
}

.form2__img {
  position: absolute;
  top: 10px;
  left: 20px;
}

.form2__img__focus {
  display: none;
}

#form2__input:focus ~ .form2__img__default {
  display: none;
}

#form2__input:focus ~ .form2__img__focus {
  display: block;
}

/* form3
============================
Я сделала так, что не в фокусе изображения нет, когда фокус есть изображение добавляется. куда приткнуть изображение в неактивном состоянии по логике непоняно)..
*/

#form3-select {
  width: 280px;
  height: 40px;
  padding: 0 0 0 10px;
  border: 1px solid #a0a0a0;
  color: grey;
}

.form3__img {
  display: none;
}

#form3-select:focus {
  background-color: #e9f8ff;
  border: 1px solid #a0a0a0;
  color: #000;
  outline: none;
  padding-left: 50px;
}

#form-group3 {
  position: relative;
}

.form3__img {
  position: absolute;
  top: 10px;
  left: 15px;
}

.form3__img {
  display: none;
}

#form3-select:focus ~ .form3__img {
  display: block;
}

/* form4
============================
*/

.check {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #a0a0a0;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.check::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 11px;
  background-color: #52359d;
  top: 2px;
  left: 2px;
  display: none;
}

.form_item:checked ~ .check::before {
  display: block;
}

.form_item {
  display: none;
}

.form_item:checked ~ .form__item__text {
  color: #52359d;
}

/* form5
============================
*/

.radio {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #a0a0a0;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.radio::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 11px;
  background-color: #52359d;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  display: none;
}

.form5_item:checked ~ .radio::before {
  display: block;
}

.form5_item {
  display: none;
}

.form5_item:checked ~ .form5__item__text {
  color: #52359d;
}

/* form6
============================
*/

.form__textarea {
  resize: none;
  width: 615px;
  height: 170px;
  font-size: 20px;
}

.form__textarea:focus {
  background-color: #e9f8ff;
  color: #000;
  font-size: 20px;
  outline: none;
}

/* form7
============================
*/

.form__textarea2 {
  resize: none;
  width: 615px;
  height: 170px;
  font-size: 20px;
}

.form__textarea2:focus {
  background-color: #e9f8ff;
  color: #000;
  font-size: 20px;
  outline: none;
}

.container__form7 {
  position: relative;
}

.textarea__img {
  position: absolute;
  top: 60px;
  left: 15px;
}

.textarea__img__focus {
  display: none;
}

.form__textarea2:focus ~ .textarea__img__default {
  display: none;
}

.form__textarea2:focus ~ .textarea__img__focus {
  display: block;
}

.textarea-placeholder {
  position: absolute;
  top: 55px;
  left: 50px;
  color: #9f9f9f;
}

.form__textarea2:focus ~ .textarea-placeholder {
  display: none;
}
