@font-face {
  font-family: "Roboto", "Arial", sans-serif;
  src: url("../files/roboto-fonts/roboto-regular-webfont.woff2") format("woff2"),
    url("../files/roboto-fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto", "Arial", sans-serif;
  src: url("../files/roboto-fonts/roboto-bold_0-webfont.woff2") format("woff2"),
    url("../files/roboto-fonts/roboto-bold_0-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto", "Arial", sans-serif;
  src: url("../files/roboto-fonts/roboto-bolditalic-webfont.woff2")
      format("woff2"),
    url("../files/roboto-fonts/roboto-bolditalic-webfont.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Roboto", "Arial", sans-serif;
  src: url("../files/roboto-fonts/roboto-italic-webfont.woff2") format("woff2"),
    url("../files/roboto-fonts/roboto-italic-webfont.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin: 0;
  background-color: #fff;
  color: #000;
}

.container {
  max-width: 1252px;
  padding: 20px 20px;
  margin-left: auto;
  margin-right: auto;
}

/*header
=======================
*/

.header {
  background-color: #cfe5ef;
}

.header__content {
  display: flex;
  align-items: center;
  height: 150px;
}

.header__menu {
  display: flex;
  margin: 0 0 0 50px;
  padding: 0;
  list-style-type: none;
}

.header__enter {
  margin-left: auto;
  background-color: #fff;
  padding: 10px 15px;
}

.header__enter,
.header__link,
.header__sublink {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

.header__item {
  position: relative;
}

.header__item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background-color: #000;
}

.header__item:last-child::before {
  display: none;
}

.header__link {
  padding: 0 20px;
}

.header__submenu {
  position: absolute;
  background-color: #fff;
  top: calc(100%-1px);
  left: 0;
  white-space: nowrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
}

.header__item:hover .header__link {
  background-color: #fff;
}

.header__item:hover .header__submenu {
  display: block;
}

.header__sublink {
  padding: 5px 20px;
  display: inline-block;
}

.header__sublink:hover {
  color: #fff;
  background-color: black;
}

.header__enter:hover {
  color: #fff;
  background-color: black;
}

/* main content
======================================
*/

.bold-text {
  font-weight: bold;
}

.float-1-border,
.float-2-border,
.reviews-border {
  padding-bottom: 10px;
  border-bottom: 3px solid grey;
}

.decor {
  background-color: #e2e2e2;
  height: 50px;
  border: 2px solid #9f9f9f;
}

.module-grid-inner {
  margin-top: 50px;
}

/* 
---------------------------- 
Reviews 
*/

.review-photo-1 {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 34px;
}

.reviews-autor {
  margin-right: 20px;
}

.reviews-text {
  padding-left: 25px;
  padding-right: 10px;
  font-size: 24px;
}

.reviews-text-data {
  color: grey;
}

/* 
---------------------------- 
Gallery 
*/

.gallery {
  text-align: center;
  margin: 50px 500px;
  font-weight: bold;
  font-size: 24px;
  border-bottom: 4px solid grey;
}

.img-in-gallery {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-in-gallery {
  margin-left: 30px;
}
